<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>

<dl>
  <dt>Identity URL</dt>
  <dd><%= current_user.identity_url %></dd>

  <dt>Email</dt>
  <dd><%= current_user.email %></dd>

  <dt>Language</dt>
  <dd><%= current_user.language %></dd>
</dl>

<h2>Feeds</h2>

<ul>
  <li><%= link_to("Email Atom feed", emails_path) %></li>
  <li><%= link_to("Calendars Atom feed", calendars_path) %></li>
</ul>

<hr/>

<p>
  <%= link_to "Logout", session_path, :method => :delete %>
</p>



